<nav>
    <a href="/">E-Commerce</a>
    <div>
        <a href="/products/">Produkte</a>
        <a href="{% url "cart" %}">
            Warenkorb
            {% if cart %}
                <span>{{ cart|length }}</span>
            {% endif %}
        </a>
        {% if user.is_authenticated %}
            <form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">
                    Logout
                </button>
            </form>
        {% else %}
            <a href="{% url "login" %}">Login</a>
        {% endif %}
    </div>
</nav>